<h2 id="title">Welcome to Ember.js</h2>

{{input value=firstName placeholder='First name'}}

<full-name-outer first={{firstName}} last="Forsyth" />

<count-mutator count={{mut count}} />

<count-non-mutator count={{count}} />

<google-search />

Application's count: {{count}}

